#
# Copyright (C) 2026 KofTwentyTwo
#

# KofTwentyTwo project formatting; Java follows QQQ/Kingsrook conventions.
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.{py,rs,c,cpp,h,hpp}]
indent_size = 4

# QQQ/Kingsrook Java conventions, enforced by Spotless and Checkstyle.
[*.java]
indent_size = 3

[Makefile]
indent_style = tab

[*.md]
trim_trailing_whitespace = false
