# Copyright (C) 2026 KofTwentyTwo
# Preserve canonical public iCalendar bytes across clones and platform settings.
fixtures/public-household/*.ics -text whitespace=blank-at-eol,blank-at-eof,space-before-tab,cr-at-eol
